body {
    font-size: 100%;
    background-color: #f5dddd;
    font-family: "Alan Sans", sans-serif;
     margin: 0;
}

a:link {
    color: #58355e;
}

a:visited {
    color: #58355e;
}

a:hover {
    color: #BD97C4;
}

a.active {
    color: #251627;
}

footer a:link {
    color: white;
}

footer a:visited {
   color: white;
}

footer a:hover {
    color: white;
}

footer a.active {
   color: white;
}

h1 {
    font-size: 3em;
}

.topnav {
    background-color: #453248;
    overflow: hidden;
    display: flex;
    justify-content: right;
    font-size: 1.5em;
}

.topnav a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
}

.topnav a:link {
    color: #f2f2f2;
}

.topnav a:visited {
    color: #f2f2f2;
}

.topnav a:hover {
    background-color: #d9d9d9;
    color: black;
}

.topnav a.active {
    background-color: #847996;
    color: white;
}

#contact {
    text-align: center;
}

main {
    padding: 2rem 15vw;
}

h2 {
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

.right {
    float: right;
}

* {
    border: 1px;
}

li {
    padding: 2px; 
    font-size: 1.2em;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 1em;
}
.showcase{
    background-color: #3a4454;
    padding: 10px;
}
.showcase h2{
    background-color: #edc0c0;
    padding: 10px;
    margin: 1em;
    text-align: center;
    font-weight:600;
    font-size: 2em;
}
.caption{
    background-color: #c2b2b4;
    text-align: center;
}
.caption a{
    text-decoration: none;
    color: #453248;
}
.caption a strong{
    font-size: 1.25em;
}
.caption a:link {
    color: #453248;
}

.caption a:visited {
    color: #453248;
}

.caption a:hover {
    color: #735478;
}

.caption a.active {
    color: #453248;
}
footer{
    background-color: #453248;
    text-align: center;
    padding: 1em;
    color: white;
    font-size: 1.5em;
}
.check{
    list-style-image: url("../../checkmark1.png");
}

