body {
    font-size: 100%;
    background-color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: .5em;
}



a{
    text-decoration:none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: gray;
}
a:active {
    color: white;
}
#contact{
    text-align: center;
}
main{
    padding: 1px 4vw;
}
h2{
    border-bottom: 3px solid #000;
    margin: auto  auto auto auto;
}
p{
    font-size: 1.25em;
}
.right{
    float: right;
}
*{
    border: 1px  ;
}
li{
    padding: 2px;
}
